*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

footer{
    height: 150 px;
    padding: 25 px;
    text-align: center;
    background-color: #696565;
    color:#ffffff;
    }
.card-container{
    background-color: #ffffff;
}
.section-container{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.background-section-one{
    background-image: url(../assets/fundo_landind_page.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}

form{
    display: grid;
}
input {
    width: 100%;
    height: 30px;
    margin-bottom: 10 px;
    text-align: center;
    border-radius: 12 px;
    background: #000000;
    color: #ffffff;
}

.background-section-two{
    background-color: #000000;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}
#outcounter{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#counter{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.count1{ 
    width: auto;
    margin: 2px;
    padding: auto;
    border:#f5f5f5 solid 3px;
}
.count1title { 
    font-size:20px; 
    color:#ccc; 
    clear:both; 
    display:block; 
}
span{
    font-size:20px; 
    color:#ccc; 
}

#days {
    color:#f5f5f5;
}
h2{
    color: #f5f5f5;;
}